# Ignore all text files
*.txt

# Ignore the node_modules directory
node_modules/

# Ignore the logs directory
logs/

# Ignore the .env file
.env

# Database
*.sqlite3

# Python bytecode
__pycache__/
*.py[cod]
*$py.class